<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://home02.nm.erduosmj.com/package_ios/104848/ReD05_eeds_nmmj_20190505_110203_104848_ios_dis.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://home02.nm.erduosmj.com/package_ios/104848/Icon-57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://home02.nm.erduosmj.com/package_ios/104848/Icon-512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nmmahjong.nm15</string>
				<key>bundle-version</key>
				<string>4.10.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>胡一把呼包鄂麻将豪华版</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
