<!DOCTYPE html>
<html lang="en">
<head>
    <title>page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/dingding/dingtalk-pc-api/2.3.1/index.js"></script>
    <script type="text/javascript" src="/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/js/base/base.js"></script>
    <script type="text/javascript" src="/js/service/pageService.js"></script>
    <script type="text/javascript" src="/js/controller/pageController.js"></script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="cost_statistic" ng-controller="pageController">
<input id="agentId" value="${agentId}" style="display: none"/>
<input id="corpId" value="${corpId}" style="display: none"/>
<input id="timeStamp" value="${timeStamp}" style="display: none"/>
<input id="nonceStr" value="${nonceStr}" style="display: none"/>
<input id="signature" value="${signature}" style="display: none"/>
<div style="margin-left: 45%;margin-top: 20%">
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="toWrite()">
            <i class="fa fa-save"></i>跳转到填写页面
        </button>
    </div>
</div>
</body>
</html>