<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkeybean.dynamicds.dao.TestRecordDao">

    <!-- 用于返回部分数据 -->
    <resultMap id="testRecordMap" type="TestRecord">
        <result property="recordId" column="record_id"/>
        <result property="recordData" column="record_data"/>
    </resultMap>

    <insert id="addTestRecord" parameterType="TestRecord">
        insert into
        test_record(record_id, record_data, create_time)
        values
        (#{recordId}, #{recordData}, CURRENT_TIMESTAMP);
    </insert>

    <!--<select id="queryTestRecord" parameterType="Map" resultType="TestRecord">-->
    <select id="queryTestRecord" parameterType="Map" resultMap="testRecordMap">
        select
        *
        from
        test_record
        <where>
            <choose>
                <when test="recordId != null">
                    record_id = #{recordId}
                </when>
                <otherwise>
                    id = #{id}
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>